In [2]:
# Import packages and files
import pandas as pd
movies = pd.read_excel('Desktop/LSE-PYTHON_2/Data/movies.xlsx')
movies.head()

,Title,Year,Age,IMDb,Rotten Tomatoes,Directors,Genres,Country,Language,Runtime
0,Inception,2010,13+,8.8,0.87,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,The Matrix,1999,18+,8.7,0.87,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,Avengers: Infinity War,2018,13+,8.5,0.84,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,Back to the Future,1985,7+,8.5,0.96,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,"The Good, the Bad and the Ugly",1966,18+,8.8,0.97,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0

In [3]:
# Import a file
ott = pd.read_csv('Desktop/LSE-PYTHON_2/Data/ott.csv')
ott.head()

   ID  Netflix  Hulu  Prime Video  Disney+
0   1        0     0            1        0
1   2        0     1            0        0
2   3        0     0            1        0
3   4        1     0            0        0
4   5        0     0            1        0

In [4]:
#Check the null values in specified column
movies['Age'].isnull().sum()

9390

In [8]:
# Replace null values with "Others"
movies['Age'][movies['Age']. isna()] = "Others"
movies.tail()

/var/folders/6h/7phy_1_x4j90d_mv1z1dy8kc0000gn/T/ipykernel_17665/2139532959.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['Age'][movies['Age']. isna()] = "Others"

,Title,Year,Age,IMDb,Rotten Tomatoes,Directors,Genres,Country,Language,Runtime
16739,The Ghosts of Buxley Hall,1980,Others,6.2,NaN,Bruce Bilson,"Comedy,Family,Fantasy,Horror",United States,English,120.0
16740,The Poof Point,2001,7+,4.7,NaN,Neal Israel,"Comedy,Family,Sci-Fi",United States,English,90.0
16741,Sharks of Lost Island,2013,Others,5.7,NaN,Neil Gelinas,Documentary,United States,English,NaN
16742,Man Among Cheetahs,2017,Others,6.6,NaN,Richard Slater-Jones,Documentary,United States,English,NaN
16743,In Beaver Valley,1950,Others,NaN,NaN,James Algar,"Documentary,Short,Family",United States,English,32.0

In [11]:
#Replace null values with "Others"
movies['Directors'][movies['Directors'].isna()] = "Others"
movies['Genres'][movies['Genres'].isna()] = "Others"
movies['Country'][movies['Country'].isna()] = "Others"
movies['Language'][movies['Language']. isna()] = "Others"
movies.head()

/var/folders/6h/7phy_1_x4j90d_mv1z1dy8kc0000gn/T/ipykernel_17665/4028803571.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['Directors'][movies['Directors'].isna()] = "Others"
/var/folders/6h/7phy_1_x4j90d_mv1z1dy8kc0000gn/T/ipykernel_17665/4028803571.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['Genres'][movies['Genres'].isna()] = "Others"
/var/folders/6h/7phy_1_x4j90d_mv1z1dy8kc0000gn/T/ipykernel_17665/4028803571.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['Country'][movies['Country'].isna()] = "Others"
/var/folders/6h/7phy_1_x4j90d_mv1z1dy8kc0000gn/T/ipykernel_17665/4028803571.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['Language'][movies['Language']. isna()] = "Others"

,Title,Year,Age,IMDb,Rotten Tomatoes,Directors,Genres,Country,Language,Runtime
0,Inception,2010,13+,8.8,0.87,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,The Matrix,1999,18+,8.7,0.87,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,Avengers: Infinity War,2018,13+,8.5,0.84,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,Back to the Future,1985,7+,8.5,0.96,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,"The Good, the Bad and the Ugly",1966,18+,8.8,0.97,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0

In [12]:
# Confirm if the code worked
movies['Directors'].isnull().sum()

0

In [16]:
#Check the data type of columns
print(movies.dtypes)

Title               object
Year                 int64
Age                 object
IMDb               float64
Rotten Tomatoes    float64
Directors           object
Genres              object
Country             object
Language            object
Runtime            float64
dtype: object

In [20]:
# Replace null values with 0 as they are numeric values
movies = movies.fillna(0)
movies['Rotten Tomatoes'].fillna(0, inplace = True)
movies['Rotten Tomatoes'].isnull().sum()

0

In [21]:
#Change the data type to integer 
movies['Rotten Tomatoes'] = movies['Rotten Tomatoes'].astype(float).astype(int)
print(movies.dtypes)

Title               object
Year                 int64
Age                 object
IMDb               float64
Rotten Tomatoes      int64
Directors           object
Genres              object
Country             object
Language            object
Runtime            float64
dtype: object